.checkout-wrapper {
    background: #ebedee;
    height: calc(100vh - 59px);
}

.checkout-container {
    width: 1280px;
    margin: 0 auto;
    padding: 36px 20px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
}

.flex-gap {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 24px;
}

.primary {
    flex: 1
}

.side {
    width: 340px
}

.checkout-card {
    background: #ffffff;
}

.checkout-card > .title {
    display: block;
    font-size: 14px;
    line-height: 18px;
    color: #999;
    padding: 24px 24px 8px;
}

.checkout-card .content {
    padding: 24px;
}

.checkout-card .content.disabled {
    opacity: 0.48;
    pointer-events: none;
}

.checkout-card .content.clickable {
    user-select: none;
}

.checkout-card .content.clickable .plus,
.checkout-card .content.disabled .plus  {
    font-size: 24px;
    font-family: sans-serif;
    float: right;
    line-height: 20px;
}


.checkout-card .content.clickable:hover {
    cursor: pointer;
    background: #fafafa;
}

.checkout-card .content.clickable:active {
    background: #f6f6f6;
}

.checkout-card ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.checkout-card li {
    font-size: 16px;
    line-height: 22px;
    color: #666;
    padding: 4px 0;

    display: grid;
    grid: auto / 1fr auto;
    align-items: center;
}

.checkout-card li.bold {
    color: #111;
    font-weight: bold;
}

.checkout-card .divider {
    display: block;
    width: 100%;
    height: 1px;
    background: rgba(17, 17, 17, 0.1);
}

.checkout-card.summary button {
    margin-top: 8px;
    display: block;
    width: 100%;
    font-size: 16px;
    line-height: 22px;
    height: 44px;
    padding: 0 14px;
    color: #FFF;
    border: 1px solid;
    border-radius: 4px;
}

.checkout-card.summary button.disabled {
    background: #999999;
    border-color:#999999;
}

.checkout-card.summary button.disabled:hover {
    background: #959595;
    border-color:  #959595;
}

.checkout-card.summary button.disabled:active {
    background: #8d8d8d;
    border-color:  #8d8d8d;
}

.checkout-card.summary button.enabled {
    background: #00c06d;
    border-color:#00c06d;
}

.checkout-card.summary button.enabled:hover {
    background: #00bb6a;
    border-color:  #00bb6a;
}

.checkout-card.summary button.enabled:active {
    background: #01b165;
    border-color:  #01b165;
}

.checkout-card.summary .info {
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    font-size: 14px;
    line-height: 18px;
    color: #999;
}

.checkout-card.order .product {
    display: grid;
    grid: auto / auto 1fr auto;
    align-items: center;
    grid-gap: 12px;
}

.checkout-card.order .product img {
    width: 48px;
    height: 48px;
    border-radius: 4px;
    object-fit: cover;
}

.checkout-card.order .product .description {
    color: #666;
}


.checkout-card .alert {
    display: block;
    padding-top: 16px;
    color: #f03e53;
    font-size: 12px;
    line-height: 16px;
}
